################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Лаб4_2/.vs/Лаб4_2/v16
/Лаб4_5/.vs/Лаб4_5/v16
/Лаб4_1/.vs/Лаб4_1/v16
/Лаб4_3
/Лаб5_5/.vs/Лаб5_5/v16/Browse.VC.opendb
/Лаб6_7/.vs/Лаб6_7/v16/Browse.VC.db
/Лаб6_7/.vs/Лаб6_7/v16/Browse.VC.opendb
/Лаб7_6/.vs/Лаб7_6/v16/Browse.VC.opendb
/Лаб6_3/.vs/Лаб6_3/v16/Browse.VC.opendb
/Лаб6_3/.vs/Лаб6_3/v16/Browse.VC.opendb
